/*-------------------------------------------------------*/
/*               INTRODUCTION (left box)
/*-------------------------------------------------------*/
.intro{
    flex-direction: column;
    align-items: flex-start;
    height:75vh;
    width:50%;
    background-color: rgb(237, 237, 237);
}

.intro__title{
    font-size: 20px;
    margin: 0px 10% 5% 10%;
    letter-spacing: -0.05em;
    line-height: 1.9em;
}

.intro__info{
    font-family: "Roboto";
    font-size: 16px;
    margin: 0 10%;
    letter-spacing: 0.1em;
    line-height: 2.0em;
    color: rgb(122, 122, 122);
}

/*-------------------------------------------------------*/
/*                 PICTURE (right box)
/*-------------------------------------------------------*/
.picture{
    height: 75vh;
    width: 50%;
    background-image: url("../images/about-eli.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

/*-------------------------------------------------------*/
/*                     RESPONSIVENESS
/*-------------------------------------------------------*/
@media screen and (max-width: 600px){
    .intro__info,.intro__title{
        margin: 0 5%;
    }
    .containerTop{
        flex-direction: column-reverse;
    }
    .intro,.picture{
        width: 100%;
    }
  }

@media screen and (max-width: 800px){
    .intro__info,.intro__title{
        margin: 0 5%;
    }
}
