.intro{
    flex-direction: column;
    align-items: flex-start;
    height:75vh;
    width:50%;
    background-color: rgb(237, 237, 237);
}

.intro__title{
    font-size: 20px;
    letter-spacing: -0.05em;
    line-height: 1.9em;
    margin: 0px 10% 5% 10%;
}

.intro__info{
    font-size: 16px;
    font-family: "Roboto";
    margin: 0 10%;
    letter-spacing: 0.1em;
    line-height: 2.0em;
    color: rgb(122, 122, 122);
}

.picture{
    height:75vh;
    width:50%;
    background-image: url("../images/about-eli.jpg")
}


@media screen and (max-width: 600px){
    .intro__info,.intro__title{
        margin: 0 5%;
    }
    .containerTop{
        flex-direction: column-reverse;
    }
    .intro,.picture{
        width: 100%;
    }
  }

  @media screen and (max-width: 800px){
    .intro__info,.intro__title{
        margin: 0 5%;
    }
  }
