/*-------------------------------------------------------*/
/*                    UTILITY CLASSES
/*-------------------------------------------------------*/
.container{
    margin: 0px 10% !important;
}
.paddingLeft{
    padding-left:.5rem;
}
.paddingRight{
    padding-right:.5rem;
}

/*-------------------------------------------------------*/
/*                    PROJECT COVER PHOTO
/*-------------------------------------------------------*/

/*styling for general project cover photos*/
.projectCover{
    font-family: Inter, sans-serif;
    height: 40vw;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/*styling for individual project cover photos*/
#hexCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://portfolio-mccomas.s3.us-east-2.amazonaws.com/Hexaplanter/hexBanner.jpg");
}
#carCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://portfolio-mccomas.s3.us-east-2.amazonaws.com/Construct-A-Car/carBanner.jpg");
}
#arcCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/arc/arcstartname3.jpg");
}
#keyCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("../images/key/keyCover.jpg");
}
#coffeeCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://portfolio-mccomas.s3.us-east-2.amazonaws.com/CoffeeCapstone/coffeeBanner.jpg");
}
#conservCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://portfolio-mccomas.s3.us-east-2.amazonaws.com/Conservatory/Conservatory+axon1.png");
}
#wrenchCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://portfolio-mccomas.s3.us-east-2.amazonaws.com/Bionic+Wrench/BannerWrench.jpg");
}
#shelterCover{
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("https://portfolio-mccomas.s3.us-east-2.amazonaws.com/ShelterCase/ShelterBanner6.jpg");
}
/*idk why you have to make these id's and not classes but its fiiiiine*/
#hexCover,#carCover,#arcCover,#keyCover,#coffeeCover, #conservCover, #wrenchCover{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center; 
}

.projectCover__body{
    height: 40vw;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.projectCover__container{
    margin: 2vw 0;
}
/*project title and subtitle*/
.projectCover__title{
    font-weight: bold;
}
.projectCover__label{
    font-size: 0.9vw;
    font-weight: bold;
}

.projectCover__value{
    font-size: 1vw;
    font-weight: normal;
}
.projectCover__subtitle{
    font-size: 1.562vw;
    letter-spacing: -0.05em;
    margin: 0px 0px 50px 10%;
}
@media screen and (min-width: 0px) {
    .projectCover__container{
        margin: 1em 0;
    }
    .projectCover__label{
        font-size: 10px;
    }
    .projectCover__value{
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) {
    .projectCover__container{
        margin: calc(10px + 4 * ((100vw - 320px) / 680)) 0;
    }
    .projectCover__label{
        font-size: calc(10px + 4 * ((100vw - 320px) / 680));
    }
    .projectCover__value{
        font-size: calc(12px + 5 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1250px) {
    .projectCover__container{
        margin: 2vw 0;
    }
    .projectCover__label{
        font-size: 1vw;
    }
    .projectCover__value{
        font-size: 1.25vw;
    }
  } 
/*-------------------------------------------------------*/
/*                   PROJECT INTRO
/*-------------------------------------------------------*/
.project__info{
    font-family: Inter, sans-serif;
    display: flex;
    padding: 1% 0;
}
.projectNameContainer{
    padding-left: 5%;
    width: 40%;
}
.project__title{
    color: #6b6b6b;
}
.project__subtitle{
    font-size: .75em;
    font-weight: normal;
    color: #a5a5a5;
}
.projectDescripContainer{
    padding: 1%;
    width: 60%;
    color: #4f4f4f;
}
.projectDescrip__header{
    font-size: 1.25rem;
}
.projectDescrip__body{
    font-size: 1rem ;
}

/*-------------------------------------------------------*/
/*                   PROJECT CONTENT
/*-------------------------------------------------------*/
.main{
    width: 100%;
}

section{
    font-family: Inter, sans-serif;
    display: flex;
    padding: .5% 0;
}

.titleContainer{
    width: 35%;
    padding: 0 5%;
    display: flex;
    align-items: flex-start;
}
.section__title{
    font-size: 1.56em ;
    font-weight: 700;
}
.subsection{
    width: 65%;
    color: #4f4f4f;
}
.subsection__title{
    font-size: 1.25em;
    font-weight: 700;
}
.subsection__body{
    line-height: 200%;
}
.fullImage{
    width: 80%;
    padding: 1%;
}

/*PICTURES-----------------------------------------*/
.main__pic{
    min-height:368px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/*SLIDESHOWS---------------------------------------------------*/
* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3, .mySlides4 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 30em;
  position: relative;
  margin: auto;
  padding-bottom: 2em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: .6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: white;
}

/*HEX POSTER---------------------------------------------------*/
.picDiv{
    height:120vh;
    width: 100%;
}
.hexPoster{
    height: 100%;
}

table{
    border-collapse: collapse;
    margin-bottom: 2em;
}
td, th {
    border: 1px solid #999;
    padding: 0.25rem;
    text-align: left;
  }

  td:nth-child(2) { background: hsl(92, 72%, 75%); }
  td:nth-child(3) { background: hsl(6, 93%, 75%); }
  td:nth-child(4) { background: hsl(34, 100%, 80%); }
  td:nth-child(5) { background: hsl(105, 63%, 65%); }

  tr:nth-child(2) { opacity: 80%; }
  tr:nth-child(3) { opacity: 80%; }
  tr:nth-child(4) { opacity: 80%; }
  tr:nth-child(5) { opacity: 80%; }
  tr:nth-child(6) { opacity: 80%; }
  tr:nth-child(7) { opacity: 80%; }
  tr:nth-child(8) { opacity: 80%; }
  tr:nth-child(9) { opacity: 80%; }
  tr:nth-child(10) { opacity: 80%; }
  tr:nth-child(11) { font-weight: bold; }

/*CAR COMPONENTS-------------------------------------------------*/
.components{
    flex-direction: column;
    width: 100%;
    margin: 70px 0 50px 0;
}
.item,.item__info,.item__image{
    width: 50%;
}
.item{
    height: 100%;
    align-items: flex-start !important;
}
.itemRow{
    height:50%;
    width: 100%;
    margin: 20px 0;
}
.item__image{
    height:250px;
    width:250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

/*individual component pictures*/
#exterior{
    background-image: url("../images/car/exterior.jpg");
}
#windup{
    background-image: url("../images/car/windup.jpg")
}
#piston{
    background-image: url("../images/car/piston.jpg")
}
#base{
    background-image: url("../images/car/baseframe.jpg")
}
.item__info--title{
    font-size: 13px;
    letter-spacing: -0.05em;
    line-height: 1.9em;
    margin-top: 0;
    padding-left:20px;
}
.componentText{
    font-family: "Roboto Slab";
    font-size: 11px;
    letter-spacing: 0.0em;
    line-height: 2.2em;
    display:inline-block;
    padding:0 20px;
}

/*FINAL SKETCHES-------------------------------------------------*/
.finalSketches__title{
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    letter-spacing: 0.1em;
    line-height: 2.0em;
    font-weight: normal;
    margin-top:20px;
}
.finalSketches__row > .finalSketches__item {
    padding: 0 8px;
}
  
.finalSketches__row:after {
    content: "";
    display: table;
    clear: both;
}
  
.finalSketches__item {
    width: 20%;
}


   /*KEY RENDERINGS------------------------------------------------*/
#finalRenderings__title{
    margin-bottom: 20px;
}


   /*MODAL-------------------------------------------------*/
.modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    background-color: black;
}
  
.modal-content {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 0;
    background-color: #fefefe;
}
  
/* CLOSE BUTTON */
.close {
    color: white;
    position: absolute;
    top: 90px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  
/*SLIDE CONTENT*/
.mySlides {
    display: none;
}
.mySlides--center{
    width: 100%;
    background-color: black;
}

   /* NEXT/PREV ARROWS */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
/* PICTURE NUMBER */
.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    color: black;
}
img.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
img.hover-shadow{
    transition: 0.3s;
    width: 100%;
}
.hover-shadow:hover, #chair2:hover, #chair1:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

@media screen and (max-width: 800px){
    .itemRow,.main,.finalSketches__row{
        flex-direction: column;
    }
    .item,.main__pic,.finalSketches__item{
        width: 100%;
        margin: 20px 0px;
    }
}