/* NAVIGATION BAR */
.navbar{
    background-color: white;
    justify-content: flex-end;
    height:68px;
    width:100%;
    position: fixed;
    z-index: 99;
    top:0px;
    left:0px;
}

.navbar__title{
    font-size:16px;
    font-weight:lighter;
    position: fixed;
    left:0px;
    left:68px;
}

.navbar__item{
    font-size: 12px;
    padding: 0px 15px;
    color: rgb(182, 182, 182);
    font-family: 'Playfair Display';
    letter-spacing: 0.15em;
}

.navbar__item--last{
    padding-right: 68px;
}

.navbar__item:hover{
    color: black;
}